* {
    font-family: Arial, monospace, 'times new roman';
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

/* Largura da scrollbar */
body::-webkit-scrollbar {
    width: 0.4em;
   
}

/* Cor da Scrollbar + Arredondamento*/
body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    outline: 1px solid rgb(48, 112, 175);
    border-radius: 7px;
}

.insta_image {
    border-radius: 6px;
    margin-right: 0.5rem;
}

nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 1.02rem;
    background: fixed /* cor */;
}

body {
    color: #424141;
}

nav ul li a:hover {
    font-size: 1.04rem;
    transition: ease 0.2s;
}

#title {
    text-decoration: underline wavy #0d3d4d;
    font-weight: bold;
    font-style: normal;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
}

.bot-tema {
    margin-left: 0.4rem;
    margin-bottom: 0.2rem;
    display: flex; 
    justify-content: left; 
    align-items: center; 
    text-align: left;
}

.bot-tema-change {
    border: 1px solid;
    border-radius: 5px;
}

#bot-temaB {
    background: fixed #ffffff;
    color: #000000;
}

#bot-temaP {
    background: fixed #000000;
    color: #ffffff;
}

#bot-temaC {
    background: fixed #424141;
    color: #ffffff;
}

main #content .texto {
    text-align: justify;
}

main #content #rodape #sobre {
    margin: 1.3rem;
    text-align: right;
}

main #content .texto #sobre strong a {
    text-decoration: none;
}

main #content #capa-livro {
    display: flex;
    justify-content: left;
    text-align: left;
    width: 4.2rem;
    height: 4.2rem;
    position: relative;
    left: 3rem;
    top: -18.4rem;
}

main #content .texto {
    margin-top: -10rem;
}

main #content .texto {
    text-align: justify;
    width: 23.1rem;
    margin-top: -3.8rem;
    margin-left: 9%;
}

#separa {
    color: #000000;
}

#temaChange {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#dropdwon-CoresTema {
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 1.3rem;
}

#margin-sup_tema {
    color: #2e2e3f;
    margin-top: 1.5rem;
}

#dropdown-menu_inte {
    width: 10rem;
}